.DS_Store
spring-web/logs/*
spring-boot-web/logs/*
spring-boot-sso/logs/*
spring-boot-shiro/logs*
spring-cloud-eureka/logs/*
spring-shiro/cache/*
spring-shiro/logs/*
spring-mybatis/logs/*
spring-cloud-eureka-consume/logs/*
spring-cloud-eureka-producer/logs/*
spring-cloud-feign-consume/logs/*
spring-cloud-feign-producer/logs/*
**/logs/*
.settings
.project
.idea
**/.settings
**/.classpath
**/.eclipse
**/.project
**/.metadata
**/target
**/bin
.idea/workspace.xml
MANIFEST.MF
**/*.iml