<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Model</title>
</head>
<body>

<p align="center"> model </p>
<p align="center" th:text=" ${myName} "></p>
<p align="center" th:text=" ${list.get(0)} "></p>

th:text="${myName}"<br/>

<input type="button" value="点击" id="aaa"/><br/>

<div id="bbb"></div>

<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/hello.js}" type="text/javascript"></script>
</body>
</html>